---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

* {
  box-sizing: border-box;
}

//Navigation Bar Styles
.masthead { 
  background-color: black;
  border-color: black;
  position: sticky;
  top: 0;
}

.masthead__inner-wrap {
  font-family: 'adelle', sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
}

.greedy-nav {
  letter-spacing: 2px;
  background-color: black;
}
.greedy-nav a {
  color: white;

  &:hover {
    color: #FFD044;
  }

}

.greedy-nav .visible-links a:before {
  background-color: #FFD044;
}

a.site-title {
  color: #FFD044;
}

.page__lead {
  text-align: center;
}
//End of Navigation Styles


//bodysyles
body {
  font-family: 'adelle', sans-serif;
  background-color: #FFD044;
  // padding: 0;
  // margin: 0;
}
#main {
  padding: 0;
}

/* tried to fix flex behavior; 1024px >= width
p {
  display: flex;
  margin: 10px;
  padding: 10px;
  margin-block-start: 10px;
  margin-block-end: 10px;
  flex-shrink: 0;
}
*/
//Homestyles
.page__hero--overlay {
  margin-bottom: 0px;
  display: flex;
  min-height: 40vh;
}
.page__hero--overlay .page__title {
  font-weight: 540;
  text-align: center;
}

//Home form styles
fieldset {
  background-color: #fdf8e9;
}

.form_title { 
  text-align: center;
}

label {
  pointer-events: none;
}

.form-background {
  background-color: #fdf8e9;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 15px;
  border-radius: 20px;
  box-shadow: 4px 4px;
}

#form_submit {
  border-radius: 8px;
}
//Home form styles end

//Body Styles
h1 {
  text-align: center;
}

//Post Styles
#h1_News {
  background-color: #FFD044;
  padding-top: 18px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 2px;
  border-color: #FFD044;
  position: sticky;
  z-index: 1;
  top: 62px;
}
.archive {
  margin-top: 0px;
}
.archive__subtitle {
  text-align: center;
  border: 0px;
}

.list__item {
  margin: 20px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #fdf8e9;
  border: 5px;
  border-radius: 10px;
  box-shadow: 4px 4px;
}

//post page styles
.page {
  margin: 10px;
}

//footer styles
.page__footer {
  background-color: black;
}
