*{
    margin: 0px;
    padding: 0px;
    box-sizing: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fill;
    height: 7vh;
    background-color: black;
    font-family: calibri, sans-serif;
    
}

.logo{
    max-block-size: 4vh;
}

.navlinks{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.navlinks li{
    list-style: none;
}

.navlinks a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

h1{
    text-align: center;
    font-family: Calibri, sans-serif;
    color: white;
}
h2{
    text-align: center;
    font-family: Calibri, sans-serif;
    padding-top: 3vh;
}
.clubname{
    background-image: url(images/gulfparkgateway.jpg);
    padding-top: 20px;
    padding-bottom: 540px

    ;
}
